# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.so

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Model checkpoints
models/
outputs/

# Data
data/